In [6]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import preprocessing

# Load test scores csv
ts = pd.read_csv('test_scores.csv')

In [7]:
ts.describe()

         n_student      pretest     posttest
count  2133.000000  2133.000000  2133.000000
mean     22.796531    54.955931    67.102203
std       4.228893    13.563101    13.986789
min      14.000000    22.000000    32.000000
25%      20.000000    44.000000    56.000000
50%      22.000000    56.000000    68.000000
75%      27.000000    65.000000    77.000000
max      31.000000    93.000000   100.000000

In [8]:
x = ts.drop(columns=['posttest', 'school', 'classroom', 'student_id', 'pretest'])
y = ts['posttest']

# replace school_setting values to Integers
x['school_setting'] = x['school_setting'].replace("Urban", 1)
x['school_setting'] = x['school_setting'].replace("Suburban", 2)
x['school_setting'] = x['school_setting'].replace("Rural", 3)

# replace school_type values to Integers
x['school_type'] = x['school_type'].replace("Public", 1)
x['school_type'] = x['school_type'].replace("Non-public", 0)

# replace teaching_method values to Integers
x['teaching_method'] = x['teaching_method'].replace("Standard", 1)
x['teaching_method'] = x['teaching_method'].replace("Experimental", 0)

# replace gender values to Integers
x['gender'] = x['gender'].replace("Female", 1)
x['gender'] = x['gender'].replace("Male", 0)

# replace lunch values to Integers
x['lunch'] = x['lunch'].replace("Qualifies for reduced/free lunch", 1)
x['lunch'] = x['lunch'].replace("Does not qualify", 0)

In [9]:
model = DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [10]:
# Male vs. Female
model.predict([[1,1,1,1,1,20], [1,1,1,1,1,20]])

array([69, 69])

In [11]:
#
model.predict([[1,1,1,1,1,20], [1,1,1,1,1,20]])

array([69, 69])